In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Seaford,GB,2021-10-09 01:02:41,50.7714,0.1027,12.27,93,6,0.89
1,1,Puerto Ayacucho,VE,2021-10-09 01:02:41,5.6639,-67.6236,24.86,90,100,2.04
2,2,Rikitea,PF,2021-10-09 01:02:41,-23.1203,-134.9692,23.71,77,100,4.62
3,3,Atuona,PF,2021-10-09 01:02:42,-9.8000,-139.0333,25.56,73,16,6.05
4,4,Vao,NC,2021-10-09 01:02:42,-22.6667,167.4833,20.88,66,90,5.98

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]


#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 23
What is the maximum temperature you would like for your trip? 32

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayacucho,VE,2021-10-09 01:02:41,5.6639,-67.6236,24.86,90,100,2.04
2,2,Rikitea,PF,2021-10-09 01:02:41,-23.1203,-134.9692,23.71,77,100,4.62
3,3,Atuona,PF,2021-10-09 01:02:42,-9.8000,-139.0333,25.56,73,16,6.05
10,10,Marzuq,YE,2021-10-09 01:02:43,14.4000,46.4667,23.21,68,88,1.02
12,12,Buala,SB,2021-10-09 01:02:44,-8.1450,159.5921,29.54,70,94,3.24
13,13,Sao Filipe,CV,2021-10-09 01:02:44,14.8961,-24.4956,26.52,80,42,1.89
18,18,Butaritari,KI,2021-10-09 01:02:45,3.0707,172.7902,27.91,75,12,5.55
24,24,Victoria,HK,2021-10-09 01:00:30,22.2855,114.1577,28.03,91,100,7.60
26,26,Kavaratti,IN,2021-10-09 01:02:48,10.5669,72.6420,27.89,78,100,4.47
28,28,Abu Dhabi,AE,2021-10-09 01:01:50,24.4667,54.3667,30.06,71,0,2.22

In [11]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1   Puerto Ayacucho      VE     24.86   5.6639  -67.6236
2           Rikitea      PF     23.71 -23.1203 -134.9692
3            Atuona      PF     25.56  -9.8000 -139.0333
10           Marzuq      YE     23.21  14.4000   46.4667
12            Buala      SB     29.54  -8.1450  159.5921
13       Sao Filipe      CV     26.52  14.8961  -24.4956
18       Butaritari      KI     27.91   3.0707  172.7902
24         Victoria      HK     28.03  22.2855  114.1577
26        Kavaratti      IN     27.89  10.5669   72.6420
28        Abu Dhabi      AE     30.06  24.4667   54.3667

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayacucho,VE,24.86,5.6639,-67.6236,Posada Turistica Manapiare
2,Rikitea,PF,23.71,-23.1203,-134.9692,People ThankYou
3,Atuona,PF,25.56,-9.8000,-139.0333,Villa Enata
10,Marzuq,YE,23.21,14.4000,46.4667,
12,Buala,SB,29.54,-8.1450,159.5921,Maringe Lagoon Lodge
13,Sao Filipe,CV,26.52,14.8961,-24.4956,Hotel Xaguate
18,Butaritari,KI,27.91,3.0707,172.7902,Isles Sunset Lodge
24,Victoria,HK,28.03,22.2855,114.1577,Mini Hotel Central
26,Kavaratti,IN,27.89,10.5669,72.6420,Hotels in Lakshadweep Islands
28,Abu Dhabi,AE,30.06,24.4667,54.3667,Ramee Garden Hotel Apartments

In [19]:
len(hotels["results"])

20

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))